apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-items-db
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-items-db
  template:
    metadata:
      labels:
          app: postgres-items-db
    spec:
      containers:
          - name: postgres-items-db
            image: postgres
            imagePullPolicy: Never
            ports:
              - containerPort: 5432
            envFrom:
              - configMapRef:
                  name: postgres-config
            volumeMounts:
              - mountPath: /var/lib/postgresql/data
                name: postgredb
      volumes:
          - name: postgredb
            persistentVolumeClaim:
              claimName: postgres-pv-claim